.cv {
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: #a45f90;
  font-weight: bold;
  padding: 0 1em;
}

.cv:hover {
  color: #703e61;
  box-shadow: 0 0 20px rgb(237, 128, 212);
}
