.row.row-mainRow {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  color: white;
}

.programSkills {
  font-size: 4em;
  margin-right: 0.2em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.programSkills:hover {
  transform: scale(2);
}

.skillsContainer {
  height: 50%;
}

.fb {
  text-align: start;
}
