.row.row-simpleLargeRow {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 6em auto;
}

figure > img {
  display: inline-block;
  margin-top: 3em;
}

figure + p {
  color: white;
  text-align: justify;
  padding: 0 0.5em;
}

.carousel {
  width: 100%;
}
.carousel-item {
  height: 400px;
}

.carousel-caption {
  color: #c67eae;
}
.carousel-caption p {
  color: #ffffff;
  text-align: justify;
}

.carousel h5 {
  font-weight: bolder;
}
