.row.row-mainSmallRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

figure > img {
  display: inline-block;
  margin-top: 3em;
}

figure + p {
  color: white;
  text-align: justify;
  padding: 0 0.5em;
}

.carousel {
  width: 100%;
}

/* da 768px in su*/
@media (min-width: 768px) {
  .carousel-item {
    height: 400px;
  }
}

@media (max-width: 767.99px) {
  .carousel-item {
    height: 470px;
  }
}
@media (max-width: 576px) {
  .carousel-item {
    height: 640px;
  }
}
@media (max-width: 367px) {
  .carousel-item {
    height: 790px;
  }
}

.carousel-caption {
  color: #c67eae;
}
.carousel-caption p {
  color: #ffffff;
  text-align: justify;
}

.carousel h5,
.carousel span {
  font-weight: bolder;
}
