.row.row-customRow {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}

h2 {
  display: flex;
  margin-right: 1.2rem;
  font-size: 3rem;
}

img {
  display: flex;
}
