@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap");
.App {
  text-align: center;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: rgb(22, 22, 22);
  /* color: rgb(246, 103, 184); */
  color: #cc87b8;
}

/*Row per Skills e Project*/
.row.row-customSmallRow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}

@media (max-width: 768px) {
  .row.row-customSmallRow {
    width: 100%;
  }
}
